/* BEM Design Pattern */
.close__contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
}

.close__icon {
  cursor: pointer;
}

.popup__background {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0003;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 99999;
}

.popup__bottom_wrapper {
    background-image: linear-gradient(hsla(0,0%,100%,0),#fff);
    bottom: 0;
    height: 10vh;
    left: 0;
    position: sticky;
    width: 100%;
}

.popup__card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  max-height: 95%;
  overflow-y: auto;
  padding: 15px;
  width: 500px;
}

.popup__card--danger {
  border-top: 5px solid #d9534f;
}

.popup__card--default {
  border-top: 5px solid #ff98aa;
}

.popup__card--green {
  border-top: 5px solid #2ecc71;
}

.popup__card.scrollbar-custom {
  /* height: 180vh; */
}

.popup__card button {
  cursor: pointer;
  border: none;
  outline: none;
}

.popup__card img {
  max-width: 100%;
}

.popup__card__body {
  display: inline-block;
  overflow-y: auto;
  width: 100%;
}

.popup__card__body--limit_height {
  max-height: 69vh;
}

.pupup__card__body__content {
  font-size: 16px;
}

.pupup__card__body__content a {
  display: block;
}

.pupup__card__body__title {
  border-bottom: 1px solid #ff98aa;
  font-size: 24px;
  font-weight: bold;
}

.popup__card__head {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
  padding: 5px 0;
}

.popup__card__head .close__icon {
  float: right;
  margin-left: auto;
}

.popup__card__head .title {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.popup__card__tail buttons {
  display: flex;
  justify-content: flex-end;
}

.popup__card__tail buttons button {
  border-radius: 5px;
}

.popup__card__tail buttons button + button {
  margin-left: 10px;
}


@media screen and (max-width: 576px) {
  .popup__card {
    width: 90%;
  }
}
